input[type=text]:focus{
    background-color: #1D976C;
    outline: none;
    cursor: none;
}

.button_server{
    display: inline-block;
    width: 42%;
    height: 50px;
    border-radius: 8px;
    color: #000000;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 120%;
    text-align: center;
    line-height: 54px;
    background: #FFBF00;
    margin-left: 2%;
}

.button_server:active {
   background: #008080;
    color: #FFFFFF;
}
