@import "animation.css";

html{
    cursor: none;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #FFFFFF;
    cursor: none;
}

.plan{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 1080px;
}

#container_incoming{
    visibility: hidden;
    position: absolute;
    left: 5%;
    top: 5%;
}

#operator{
    width: 290px;
    height: 322px;
    background: url(../images/operator.jpeg) #FFBF00 no-repeat center;
}

#incoming{
    background-color: #3A7734;
    color: #FFFFFF;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    text-align: center;
}

#incident{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

#msg{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #000000;
    font-size: 180px;
}

#incident.alert{
    animation: alert 4s infinite;
}

#incident.incoming{
     animation: incoming 4s infinite;
}

#container_plan{
    width:auto;
    text-align:center;
}

#container_marquee{
    min-width: 100%;
    position: fixed;
    height: auto;
    bottom: 2%;
}

#container_settings{
    position: absolute;
    left: 92%;
    width: 6%;
    height: 100%;
    top: 2%;
    background: transparent;
    cursor: pointer;
}

#container_settings:hover > button{
  /*visibility: visible;*/
  /*opacity: 1;*/
}

button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #008080;
    outline: none;
    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*transition: visibility 0s, opacity 0.5s linear;*/
}

.settings{
    background: url(../images/ic_settings.png) #FFBF00 no-repeat center;
    margin-top: 16%;
}

.settings:active{
    background-color: #008080;
}

.status{
    margin-top: 15%;
}

.status.localhost_online{
    background: url(../images/ic_server.png) #008080 no-repeat center;
}

.status.localhost_offline{
    background: url(../images/ic_server_off.png) #BD3F32 no-repeat center;
}

.status.sip_reg_online{
    background: url(../images/ic_account_online.png) #008080 no-repeat center;
}

.status.sip_reg_offline{
    background: url(../images/ic_account_off.png) #BD3F32 no-repeat center;
}

.status.net_online{
    background: url(../images/ic_lan_connect.png) #008080 no-repeat center;
}

.status.net_offline{
    background: url(../images/ic_lan_disconnect.png) #BD3F32 no-repeat center;
}

.marquee {
    min-width: 100%;
    color: #FFFFFF;
    background: #ff002b;
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 70s linear infinite;
    font-size: 38px;
}

.li {
    float: left;
    padding: 0.2%;
}